
.slider-section {
  margin-top: 70px;
  height: 100vh;
  margin-bottom: 90px;
  position: relative;
  background: transparent !important; 
}

.carousel-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  z-index: 0;
  display: block; /* desktop also shows text */
}

.carousel-title {
  margin-top: 290px;
  font-size: 210px;
  font-weight: 800;
  transform: scaleY(1.3);
  letter-spacing: 4px;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.carousel-subtext {
  font-size: 30px;
  margin-top: 20px;
  margin-left: -900px;
  color: white;
  opacity: 0.9;
  font-family: "Georgia", serif;
  
}

/* Special size for image 4 */
/* .img-four {
  height: 230px !important;
  margin-top: 25px;
} */


.carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  
}

.banner {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: visible;
  perspective: 1200px;
  background-image: url("/mb-tablet-bg.png");
  background-repeat: no-repeat;
  background-position: center -350%;
  background-size: 25%;
}

.slider {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 60%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  animation: spin 20s linear infinite;
  z-index: 2; /* images above text */
}

.item {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: 4;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
    rotateX(1deg)
    translateZ(580px);
}

.item img {
  width: 600px;
  height: 90%;
  
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}

@media (max-width: 1024px) {
  .slider-section {
    background: transparent !important;
    margin-top: 70px;
    margin-bottom: -340px;
  }

  .carousel-title {
    font-size: 140px;
    -webkit-text-stroke: 2px white;
    margin-top: 0px;
  }

  .carousel-center-text {
    display: block;
  }

  .carousel-subtext{
    margin-left: 0px;
  }

  .banner {
    height: 52vh;
    background-image: url("/mb-tablet-bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: 50% 40% !important;
    background-size: 32% !important;
  }

  .slider {
    width: 240px;
    height: 240px;
  }

  .item {
    transform: rotateY(calc(360deg / var(--quantity) * (var(--position) - 1)))
      translateZ(350px);
    margin-top: -170px;
  }

  .item img {
    height: 50%;
  }
}

@media (max-width: 640px) {
  .carousel-title {
    font-size: 55px;
    transform: scaleY(1.7);
    -webkit-text-stroke: 1.5px white;
    margin-top: 20px;
  }

  .carousel-subtext {
    font-size: 16px;
   margin-left: 0px;
  }

  .img-four {
    height: 41% !important;
    margin-top: 0px;
  }

  .banner {
    height: 45vh;
    background-image: url("/mb-tablet-bg.png");
    background-position: center 30%;
    margin-top: -10px;
  }

  .slider {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
  }

  .item {
    margin-top: -110px;
    transform: rotateY(calc(360deg / var(--quantity) * (var(--position) - 1)))
      translateZ(190px);
  }

  .item img {
    height: 42%;
  }
  .slider-section{
    margin-bottom: -220px;
  }
}
